<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Tracker Capture Demo</title>
		<script type='text/javascript' src='/javascripts/jquery.js'></script>
		<script type='text/javascript' src='/javascripts/mathuuid.js'></script>
		<script type='text/javascript' src='/javascripts/tracker_demo.js'></script>
		<script type='text/javascript' src='/javascripts/tracker_config.js'></script>
	</head>
	<body>
		<a href='#' class='click_demo' id='x_371a9aac-2349-11e0-81f4-5b377bc93c89'>Click Me!</a>
		<br><br>
		<a href='#' class='click_demo' id='x_04424a26-234e-11e0-8c24-5034c8d12633'>No Click Me!</a>
	</body> 
</html>
